/* General Styles */

.heading-servies {
    font-weight: bold;
    background: linear-gradient(90deg, #edb106 0%, #b20d0c 50%, #1c8289 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.services-heading {
    font-size: 2.5em; /* Adjust font size as needed */
    font-weight: bold;
    background-image: linear-gradient(135deg, var(--theme-primary-color), var(--theme-secondary-color)); /* Gradient colors */
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; /* To apply the gradient only to text */
  }
  

/* Hide the paragraph initially */
.featured-desc p {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  margin-top: 10px;
}




/* Show the paragraph on hover */
.featured-item:hover .featured-desc p {
  opacity: 1;
  max-height: 100px; /* Adjust as needed for full visibility */
}


.featured-item.style-4 {
    position: relative;
    background: linear-gradient(267.18deg, #0c0c0cb9 0%, #080808 100%);
    border-radius: 15px;
    overflow: hidden;
    padding: 40px 50px;
    text-align: center; /* Center align title */
  }
  
  .featured-item.style-4 span {
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: linear-gradient(135deg, var(--theme-primary-color), var(--theme-secondary-color));
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50%;
    color: var(--theme-white-color);
  }
  
  .featured-item.style-4::before {
    content: '';
    position: absolute;
    right: -55px;
    top: -55px;
    height: 135px;
    width: 135px;
    background: var(--theme-primary-color);
    -webkit-filter: blur(125px);
    filter: blur(125px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
  }
  
  .featured-item.style-4:hover::before {
    opacity: 1;
  }
  
  .featured-item.style-4 .featured-icon {
    width: 120px;
    height: 120px;
    display: inline-block;
    background: var(--theme-bg-dark-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 30px;
  }
  
  .featured-item.style-4 .featured-icon i {
    font-size: 50px;
    line-height: 1;
    color: var(--theme-primary-color);
    transition: color 0.4s ease;
  }
  
  .featured-item.style-4:hover .featured-icon i {
    color: var(--theme-white-color);
  }
  
  .featured-item.style-4 .featured-title h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--theme-white-color);
    margin-bottom: 10px;
  }
  
  .featured-item.style-4 p {
    font-size: 14px;
    color: var(--theme-light-grey-color);
    text-align: justify; /* Justify paragraph text */
    margin: 0;
  }

  
.project-modal-header {
    background-image: linear-gradient(135deg, var(--theme-primary-color), var(--theme-secondary-color));
    color: white; /* White text */
    border: none;
    text-align: center; /* Center-align the title */
    font-weight: bold;
}

.project-modal-header .project-btn-close {
    color: white; 
}

/* Modal Body Styling */
.project-modal-body {
    background-color: #f4f6f9; 
    padding: 30px;
    border-radius: 5px;
}

.project-modal-body p {
    font-size: 16px;
    line-height: 1.5;
    color: #333; 
    text-align: center; 
    margin-bottom: 20px;
}

.project-head {
    font-size: 1.8em; /* Adjust font size as needed */
    font-weight: bold;
    background-image: linear-gradient(135deg, var(--theme-primary-color), var(--theme-secondary-color)); /* Gradient colors */
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; /* To apply the gradient only to text */
}

  
.demopage-content .service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Center vertically within viewport */
    position: relative;
}
 
/* Positioning the left and right navigation buttons */
.demopage-content .nav-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(135deg, var(--theme-primary-color), var(--theme-secondary-color)); /* Gradient colors */
    color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    z-index: 2; /* Ensure the buttons stay above other content */
}
 
.demopage-content .nav-btn:hover {
    background-color: #004080;
}
 
/* Specific positioning for left and right buttons */
.left-btn {
    left: -60px; /* Adjust to place button outside the section */
}
 
.right-btn {
    right: -60px; /* Adjust to place button outside the section */
}

/* Styling for the service content */
.demopage-content .overlayed-card {
   
    position: absolute;
    top: 0px;
    right: -200px;
    max-width: 400px;
    z-index: 1;

}
 
.demopage-content .service-content {
    background-color: #fff9e6;
    text-align: justify;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
 
.demopage-content .service-image-con{
    margin-left: 120px;
} 


.service-image img.active,
.service-content.active {
    opacity: 1;
    transform: translateX(0);
}
 
.demopage-content{
    margin-bottom: 10vh;
}
.demopage-content .category {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}
 
.demopage-content .h2 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}
 
.demopage-content p {
    font-size: 16px;
    color: #666;
    margin: 15px 0;
}
 
.demopage-content .btn {
    display: inline-block;
    padding: 10px 20px;
    color: #1C51A3;
    text-decoration: none;
    border: 1px solid #1C51A3;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s;
}
 
.demopage-content .btn:hover {
    background-color: #1C51A3;
    color: #fff;
}


/* For mobile devices (600px and below) */
@media (max-width: 1000px) {
    .demopage-content .service-section {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
    }

    .demopage-content .service-image {
        position: relative; /* Set relative to allow overlay */
        width: 100%;
        margin-bottom: 0; /* Remove margin to stack image and card */
    }

    .demopage-content .overlayed-card {
        position: absolute; /* Absolute to overlay on image */
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 15px;
        padding: 200px 0px 0px 70px; 
        max-width: 90%; /* Fit to image width */
    }

    .demopage-content .service-content {
        padding: 10px;
        box-shadow: none;
    }

    .demopage-content .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        font-size: 16px;
        display: block;
    }


    .left-btn {
        left: 10px;
    }

    .right-btn {
        right: 10px;
    }

    .demopage-content .category {
        font-size: 12px;
        padding: 3px 6px;
    }

    .demopage-content .h2 {
        font-size: 18px;
    }

    .demopage-content p {
        font-size: 14px;
    }
    
    .demopage-content .service-image-con {
        margin-left: 0px;
    } 
}



/* For mobile devices (600px and below) */
@media (max-width: 767px) {
    .demopage-content .service-section {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
    }

    .demopage-content .service-image {
        position: relative; /* Set relative to allow overlay */
        width: 100%;
        margin-bottom: 0; /* Remove margin to stack image and card */
    }

    .demopage-content .overlayed-card {
        position: absolute; /* Absolute to overlay on image */
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 15px;
        padding: 100px 0px 0px 70px; 
        max-width: 90%; /* Fit to image width */
    }

    .demopage-content .service-content {
        padding: 10px;
        box-shadow: none;
    }

    .demopage-content .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        font-size: 16px;
        display: block;
    }

    .right-btn {
        right: 10px;
    }

    .demopage-content .category {
        font-size: 12px;
        padding: 3px 6px;
    }

    .demopage-content .h2 {
        font-size: 18px;
    }

    .demopage-content p {
        font-size: 14px;
    }
    
    .demopage-content .service-image-con {
        margin-left: 0px;
    } 
}


/* For mobile devices (600px and below) */
@media (max-width: 450px) {
    .demopage-content .service-section {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
    }

    .demopage-content .service-image {
        position: relative; /* Set relative to allow overlay */
        width: 100%;
        margin-bottom: 0; /* Remove margin to stack image and card */
    }

    .demopage-content .overlayed-card {
        position: absolute; /* Absolute to overlay on image */
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 15px;
        padding: 60px 10px 0px 50px; 
        max-width: 90%; /* Fit to image width */
    }

    .demopage-content .service-content {
        padding: 10px;
        box-shadow: none;
    }

    .demopage-content .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        font-size: 16px;
        display: block;
    }

    .left-btn {
        left: 10px;
    }

    .right-btn {
        right: 10px;
    }

    .demopage-content .category {
        font-size: 12px;
        padding: 3px 6px;
    }

    .demopage-content .h2 {
        font-size: 18px;
    }

    .demopage-content p {
        font-size: 14px;
    }
    
    .demopage-content .service-image-con {
        margin-left: 0px;
    } 
}

